<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>놀거리 추가하기</title>
</head>
<body>
<h2>놀거리 추가하기</h2>
<form th:action="@{/createP}" method="post">
    이름: <input type="text" name="name" id="name"><br>
    가격: <input type="number" name="price" id="price"><br>
    <div>
        <label for="h-m">타입</label>
        <select id="h-m" name="type">
            <option value="풍경">풍경</option>
            <option value="문화">문화</option>
            <option value="활동">활동</option>
        </select>
    </div>
    <input type="submit" value="추가하기">
</form>
</body>
</html>
