<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>식당 추가하기</title>
</head>
<body>
<h2>식당 추가하기</h2>
<form th:action="@{/createR}" method="post">
  이름: <input type="text" name="name" id="name"><br>
  가격: <input type="number" name="price" id="price"><br>
  <div>
    <label for="h-m">타입</label>
    <select id="h-m" name="type">
      <option value="한식">한식</option>
      <option value="일식">일식</option>
      <option value="양식">양식</option>
    </select>
  </div>
  <input type="submit" value="추가하기">
</form>
</body>
</html>
